.custom1 {
  background-color: rgb(204, 204, 204);
}
@font-face {
  font-family: ConsistanceR;
  src: url('/Fonts/Consistance\ Regular.ttf');
}
@font-face {
  font-family: Esteh;
  src: url('/Fonts/Esteh.ttf');
}
@font-face {
  font-family: Morison;
  src: url('/Fonts/Morison-Light.ttf');
}
@font-face {
  font-family: Mistrully;
  src: url('/Fonts/Mistrully.ttf');
}
@font-face {
  font-family: Maharlika;
  src: url('/Fonts/Maharlika-Regular.ttf');
}
.ConsistanceR {
  font-family: ConsistanceR;
}
.Esteh {
  font-family: Esteh;
}
.Morison {
  font-family: Morison;
}
.Mistrully {
  font-family: Mistrully;
}
.Maharlika {
  font-family: Maharlika;
}
.dark-orange {
  color: #e88d66;
}
