@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Maharlika';
  src: url('/Assets/Fonts/Maharlika-Regular.ttf') format('truetype');
}

.Maharlika {
  font-family: Maharlika;
}
@font-face {
  font-family: 'Mistrully';
  src: url('/Assets/Fonts/Mistrully.ttf') format('truetype');
}

.Mistrully {
  font-family: Mistrully;
}

.text-orange {
  color: #e88d66;
}
.bg-orange {
  background-color: #e88d66;
}
.text-brown {
  color: #80431b;
}
.bg-brown {
  background-color: #80431b;
}
.text-orange-dark {
  color: #c67f40;
}
.bg-orange-dark {
  background-color: #c67f40;
}
.text-light-gray {
  color: #ede4e2;
}
.bg-light-gray {
  background-color: #ede4e2;
}

@tailwind utilities;
