@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Maharlika';
  src: url('../assets/Fonts/Maharlika-Regular.ttf') format('truetype');
}

.Maharlika {
  font-family: Maharlika;
}
@font-face {
  font-family: 'Mistrully';
  src: url('../assets/Fonts/Mistrully.ttf') format('truetype');
}

.Esteh {
  font-family: Esteh;
}
@font-face {
  font-family: 'Esteh';
  src: url('../assets/Fonts/Esteh.ttf') format('truetype');
}

.Mistrully {
  font-family: Mistrully;
}

.text-orange {
  color: #e88d66;
}
.bg-orange {
  background-color: #e88d66;
}
.text-brown {
  color: #80431b;
}
.bg-brown {
  background-color: #80431b;
}
.text-orange-dark {
  color: #c67f40;
}
.bg-orange-dark {
  background-color: #c67f40;
}
.text-light-gray {
  color: #ede4e2;
}
.bg-light-gray {
  background-color: #ede4e2;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  max-height: 5px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #80431b;
}

@tailwind utilities;
